.app {
    direction: rtl;
    text-align: center;
}
.mainBackgroundImage {
    background-image: url("../src/assets/mainBackground.jpg");
}

.universityBackgroundImage {
    background-image: url("../src/assets/universityBackground.jpg");

}
.appBody {
    /*min-height: 100vh;*/
    /*display: flex;*/
    direction: rtl;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*font-size: calc(10px + 2vmin);*/
}


.tableFooterStyle {
    background-color: #f3f3f3;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 0 0 2px #888;
    text-shadow: 0 0 0 #ccc;

}

/*other components css*/

.bootstrap-select.btn-group .btn .filter-option {
    color: #a6a5a5;
    font-size: 1.1rem;
    font-weight: bold;
}

th {
    font-size: 1.2rem;
    font-weight: bold;
    color: blue;
}

td {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px !important;
}


.searchButton:hover {
    background-color: #6d0389 !important;
    color: white !important;
}

.radioGroup input[type=radio] + label, .radioGroup input[type=checkbox] + label {
    display: inline-block;
    margin: -4px -3px;
    padding: 4px 12px;
    margin-bottom: 0;
    line-height: 20px;
    color: #666;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    min-width: 14px;
}

.radioGroup input[type=radio], .radioGroup input[type=checkbox] {
    display: none;
}

.radioGroup input[type=radio]:checked + label, .radioGroup input[type=checkbox]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 5%);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 5%);
    background-color: #e4e4e4;
    text-shadow: 1px 1px 1px white;
}


.mottoTitle {
    font-size: 2.5rem;
    direction: rtl;
    text-align: right;
    font-weight: bold;
}

.secondHeaderSection {
    background: #f7f8fa;
    box-shadow: inset 0px 0px 40px rgb(217 221 227 / 50%), inset 0px 0 40px rgb(217 221 227 / 50%);
    border-top: 1px solid #e1e4e6;
    border-bottom: 1px solid #e1e4e6;
}

.secondHeaderCol {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.journalTabsButton {
    display: inline-block;
    padding: 5px 8px;
    color: #888;
    font-size: 1rem;
    margin-left: 5px;
    outline: 0;
    border-color: transparent;
    text-decoration: none;
    background: #f3f3f3;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e4e4e4));
    background: -moz-linear-gradient(#eee, #e4e4e4);
    background: linear-gradient(#eee, #e4e4e4);
    -pie-background: linear-gradient(#eee, #e4e4e4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.journalTabsButtonActive {
    /* background: #bd1e56; */
    color: #ffffff;
    text-shadow: 0px -1px 0px #8d002b;
    background: -moz-linear-gradient(top, #eb1067 4%, #c31e33 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #eb1067), color-stop(100%, #c31e33));
    background: -webkit-linear-gradient(top, #eb1067 4%, #c31e33 100%);
}

.emblemClass {
    width: 18%;
}

.facultyMemberSubDetailText {
    font-size: 1.3rem;
    color: grey;
}
.facultyMemberSectionTitleActive {
    color:  #8d002b !important;
    border-bottom: 2.5px solid #8d002b !important;
}


@media only screen and (max-width: 990px) {
    .emblemClass {
        width: 25%;
        height: 80%;
    }
}